  <div>
    <div class="row justify-content-center bg-blue">
      <%= render 'shared/searchform' %>
    </div>
  <h1 class="text-center prompt">We found <%= pluralize @workshops.count, "Workshop" %> based on your search:</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <% @workshops.each do |workshop| %>
        <div class="col-lg-6 col-md-4">
            <div class="card mb-4 index-border">
                <div class="card-images">
                  <%= cl_image_tag workshop.photos[0].key, height: 300, width: 490, crop: :fill %>
                </div>
              <h2> <strong> <%= workshop.title %> </strong></h2>
              <div class='card-body'>
               <p> <%= link_to workshop.description.truncate(110), workshop_path(workshop), class: "stretched-link" %> </p>
               <h2> <strong> <%= workshop.price %>€</strong> </h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>










