<body style="background-color: #FFF4D3;">
  <div class="container container-workshop">
    <%= link_to "Return to search results", workshops_path %>
    <div class="card rounded card-workshop" style="width:1168px" id="container-workshop">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @workshop.photos.each_with_index do |photo, index| %>
      <div class="carousel-item card-images <%= "active" if index==0 %> ">
        <%= cl_image_tag photo.key, height: 300, width: 1168, crop: :fill %>
      </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container container-workshop">
      <div class="card-body">
        <div class="card-info">
          <h1><%= @workshop.title %></h1>
          <h3><%= @workshop.category %></h3>
          <h3 class="card-subheader">Description</h3>
          <p><%= @workshop.description %></p>
          <h3 class="card-subheader">Equipment</h3>
          <p><%= @workshop.equipment %></p>
          <div class="reviews-container">
            <div class="review">
              <h3 class="card-subheader">Reviews</h3>
              <p>"This was such an amazing workshop, I really loved spending three
              days here. The equipment is awesome and Peter always gives great tips
              on ceramic crafts."</p>
            </div>
          </div>
        </div>
        <div class="form">
          <%= render 'shared/form' %>
        </div>
      </div>
    </div>
  </div>
</body>
