<!DOCTYPE html>
<html>
  <head>
    <title>spacify • workshop spaces for you</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('Favicon.ico') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="padding-navbar"></div>
    <%= yield %>
    <div class="container-footer">
      <div class="footer" style="background-color: white">
        <div class="footer-name">
          <h1> <strong> SPACIFY U </strong> </h1>
        </div>
        <div class="footer-copyright">
          <p> Spacify is the world's leading platform
            <br>to book your workshop spaces </p>
        </div>
        <div class="footer-links text-center">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
